{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    
    <title>Tchouk IN</title>
    <meta name="description" content="None"/>
    <meta name="keywords" content="None"/>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Le styles -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>

    <link href="{{ STATIC_URL }}css/tchoukin.css" rel="stylesheet">

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-37201680-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>

    <div id="map" class="map"></div>
    
    <header>
        <h1>
            Tchouk in
            <input type="text" placeholder="..." class="addresspicker" value="{{ where }}" />
            <div class="hint hint1">write your address</div>
            <small>beta</small>
        </h1>
    </header>
    <footer>
        <a href="#add-form" class="btn extra-tab">Add your club</a>
        <a href="#mypos" class="btn">My position</a>
        <a href="#contacts" class="btn extra-tab">Contacts</a>
        <div class="extra" id="add-form">
            {% crispy clubform %}
        </div>
        <div class="extra" id="contacts">
            <p style="padding: 20px;">
                <a href="https://twitter.com/TchoukIN">@TchoukIN</a>
                <small class="pull-right">Icons by PC - <a class="external" href="http://pc.de">http://pc.de</a></small>
            </p>
        </div>
    </footer>

    <script src="{{ STATIC_URL }}js/jquery-1.8.2.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="{{ STATIC_URL }}js/markerclusterer_compiled.js"></script>
    <script src="/clubs/"></script>
    <script src="{{ STATIC_URL }}js/bootstrap-typeahead.min.js"></script>
    <script src="{{ STATIC_URL }}js/jquery.addresspicker.bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/utilities.js"></script>
    <script src="{{ STATIC_URL }}js/map.js"></script>
    {% if where %}
    <script type="text/javascript">
        $(document).ready(function(){
            var where = '{{ where }}';
            var addresspicker = addresspickerMap.data().addresspicker;
            var item = addresspicker.geocoder.geocode({
                'address': where+" ",
                'region': addresspicker.options.regionBias
            }, function(results, status) {
                if (status == google.maps.GeocoderStatus.OK) {
                    for (var i = 0; i < results.length; i++) {
                       addresspicker.$element.trigger('addressChanged', results[i]);
                       break;
                    }
                }
            });
        });
    </script>
    {% endif %}

</body>
</html>
